<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>What Are You Looking Forward To 🤔</title>
</head>
<body>
    <main>
        <div id="menu">
            <button id="btn-ms">Milliseconds</button>
            <button id="btn-s">Seconds</button>
            <button id="btn-min">Minutes</button>
            <button id="btn-h">Hours</button>
            <button id="btn-d">Days</button>
        </div>
        <h1 id="heading">Days Until Calvin's Last Day</h1>
        <h2 id="display"><span id="time">{{ time_unit }}</span> <span id="unit">days</span></span></h2>
        <div id="mobile-menu">
            <select name="menu" id="menu-dropdown">
                <option value="miliseconds">Milliseconds</option>
                <option value="seconds">Seconds</option>
                <option value="minutes">Minutes</option>
                <option value="hours">Hours</option>
                <option value="days" selected>Days</option>
            </select>
        </div>
    </main>
    <script src="{{ url_for('static', filename='main.js') }}" ></script>
</body>
</html>