<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>What Are You Looking Forward To 🤔</title>
</head>
<body>
    <main>
        <div id="menu">
            <button>Miliseconds</button>
            <button>Seconds</button>
            <button>Minutes</button>
            <button>Hours</button>
            <button>Days</button>
        </div>
        <h1 id="heading">Days Until Calvin's Last Day</h1>
        <h2 id="unit">3 days</h2>
        <div id="mobile-menu">
            <select name="menu" id="menu-dropdown">
                <option value="miliseconds">Miliseconds</option>
                <option value="seconds">Seconds</option>
                <option value="minutes">Minutes</option>
                <option value="hours">Hours</option>
                <option value="days">Days</option>
            </select>
        </div>
    </main>
</body>
</html>