<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>What Are You Looking Forward To 🤔</title>
</head>
<body>
    <main>
        <div id="menu">
            <button>Miliseconds</button>
            <button>Seconds</button>
            <button>Minutes</button>
            <button>Hours</button>
            <button>Days</button>
        </div>
         <h1>Days Until Calvin's Last Day</h1>
         <h2>3 days</h2>
    </main>
</body>
</html>